header {
    border-radius:10px;
    background-image:url(./img/gamer.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1px 5px 1px;
}
.header {
     color: darkred;
}
img {
    width: 850px;
    height: 500px;
    object-fit:contain;
}
article {   
    border-radius: 25px;
    background-color: lightgreen;
    border-color: orange;
    padding: 10px;
}
h1 {
    font-size: 24px;
    color: blue;
    font-weight: italic, bold;

}
h2 {
    font-size: 20px;
    color: #0000ff;
    font-style: bold;
}
h3 {
    font-size: 16px;
    color: teal;
    font-style: bold;
}
p {
    color: #4D4D4D; 
}
p::first-line{
    font-weight: bold;
}
a {
    color: #8A2BE2;
    text-decoration: none;
}